@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    background-color: #1f232b;
    color: #9baec8;
}

.bg-dark {
    background-color: #1f232b !important;
    color: #9baec8 !important;
}

/*
 * Center icon
 */
[class*="bi-"] {
  display: inline-block;
  width: 100%;
}

.card-title > i {
  font-size: 44px;
  text-align: center;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #dae0e5;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-sidebar {
  color: #1f232b;
  border: 0;
  text-align: left;
}

.content-title {
  color: #EB5B67;
}

p {
  color: #dae0e5;
  font-family: 'Cardo', serif;
}

.wizard-content {
  max-width: 1280px;
  margin: 0 auto;
}

main {
  position: relative;
  left: 6vw;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}
.card {
  background-color: #313744;
}

.modal-body > p {
  color: black;
}
