<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
    <link rel="stylesheet" href="/assets/main.css">

    <!-- Google Fonts -->
    <!-- TODO remove unused fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

    <title>Matrix Serverlist</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark shadow-sm main-nav navbar-expand-md navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="#"><img src="/assets/matrix.svg" width="30"
                                height="30" class="d-inline-block align-top" alt="">
                            Matrix Serverlist</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wizard-content">
        <aside>
            <!-- Left sidebar -->
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
                    <div class="sidebar-sticky">
                        {% match current_category %}
                            {% when Some with (val) %}
                            <a class="nav-link" href="/">
                                Choose your Homeserver 
                            </a>
                            {% when None %}
                            <a style="margin: 8px; margin-top:16px;" class="nav-link active btn btn-light btn-sidebar btn-lg" href="/"
                                tabindex="-1" role="button" aria-disabled="true">
                                <span data-feather="home"></span>
                                Choose your Homeserver <span class="sr-only">(current)</span>
                            </a>
                        {% endmatch %}
    
                        <!-- TODO Add Search -->
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Categories:</span>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            {% for category in categories %}
                            <li class="nav-item">
                                <!--TODO Make sure to actually mark the active as active and not the first-->
                                {% match current_category %}
                                    {% when Some with (val) %}
                                        {% if val == category %}
                                        <a style="margin: 8px; margin-top:16px;" class="nav-link active btn btn-light btn-sidebar btn-lg" href="/category/{{category}}"
                                            tabindex="-1" role="button" aria-disabled="true">
                                            <span data-feather="home"></span>
                                            {{category}} <span class="sr-only">(current)</span>
                                        </a>
                                        {% else %}
                                        <a class="nav-link" href="/category/{{category}}">
                                            {{ category }}
                                        </a>
                                        {% endif %}
                                    {% when None %}
                                    <a class="nav-link" href="/category/{{category}}">
                                        {{ category }}
                                    </a>
                                {% endmatch %}
                                
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </aside>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Main -->
            {% match current_category %}
                {% when Some with (val) %}
                <h1 class="content-title">{{val}}</h1>
                {% when None %}
                <h1 class="content-title">Choose your Homeserver</h1>
    
                <p>
                    All you need to do to sign-up is choose a Homeserver. Your Homeserver is the Home of your account in the Matrix. Its just like a e-mail.
                </p>
            {% endmatch %}
        </main>
    </div>
    

    <footer class="text-muted">

    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>